<!doctype html>
<html>
<head>
    <title>Bienvenidos a {{ app }} </title>
    <meta charset="utf-8">
</head>
<body>
<h1>Este servidor ha sido montado con <strong>{{ tech }}</strong> en un máquina con {{ ansible_lsb.description}} </h1>
</body>
</html>
